body, html{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
.nav-link{
  font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
}
.btn{
  font-weight: bold;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.025em;
background: #F95738;
border-radius: 5px;
}
.row h1{
  font-weight: 900;
  font-size: 32px;
  line-height: 49px;
}
#special{
  background: #FAF0CA;
  color: #EE964B;
}
#special-2{
  background: #EE964B;
}
.header{
  background-image: url("../img/backgroundm.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
}
.special-section{
  /* border: 2px solid red; */
  background-image: url('../img/special.svg');
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  max-width: 100vw;
  position: relative;
}
.container{
  /* border: 2px solid blue; */
}
.special-section::after{
  content: "";
  display: block;
  max-width: 100vw;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  }
  
  .special-section > * {
    z-index: 10;
    position: relative;
  }
.swiper-container {
  width: 100%;
  height: 100%;
}
.our-process{
  background-color: #FAF0CA;
  /* opacity: 0.5;
  z-index: 0; */
}
.card{
  position: relative;
}
.card-number{
  background-color: #e7b534;
  width: fit-content;
  position: absolute;
  top: 7%;
  right: 97%;
  font-weight: bold;
  font-size: 10.5991px;
  line-height: 16px;
}
.card-number-2{
  background-color: #e7b534;
  width: fit-content;
  position: absolute;
  top: 7%;
  left: 94%;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	max-width: fit-content;
}
section h2{
  font-weight: bold;
color: #0D3B66;
font-size: 22px;
line-height: 33px;
}
.lead-2{
  font-weight: normal;
font-size: 18px;
line-height: 32px;
}
.icon{
  font-weight: 500;
font-size: 40.1829px;
line-height: 65px;
color: rgba(211, 161, 59, 0.62);
}
#icon-text, #icon-text-1, #icon-text-2, #icon-text-3{
  font-size: 15.0686px;
line-height: 161.73%;
}
.lead-3{
  font-weight: 400;
font-size: 16px;
line-height: 32px;
}
h5{
font-weight: bold;
font-size: 24px;
line-height: 36px;

color: #000000;
}
.card-author{
  font-weight: 200;
  font-size: 18px;
  line-height: 27px;  
  color: #571011;
}
.card-text{
  font-weight: 200;
font-size: 16px;
line-height: 24px;

color: #000000;
}
.text-4{
  font-weight: 500;
font-size: 7.06604px;
line-height: 10px;
}
.paragraph-text{
  font-weight: 500;
font-size: 16px;
line-height: 23px;
color: #000000;
}
.paragraph-text-2{
  font-weight: 700;
font-size: 16px;
line-height: 23px;
color: #000000;
}

input[type = 'email']{
  border-top:none ;
  border-left: none;
  border-right: none;
  /* min-width: 200px;
  max-width: 600px; */
}
.input-group-text{
  background: #e5e5e5;
  border-top: 0px;
}
input[type = 'email']:focus{
  border-top:none ;
  border-left: none;
  border-right: none;
  min-width: 200px;
  max-width: 600px;
}
@media (min-width: 576px) { 
  .row h1{
    font-weight: 900;
    font-size: 32px;
    line-height: 49px;
    max-width: 70%;
  }
  .lead{
    max-width: 58%;
  }
}


@media (min-width: 768px) { 
  .row h1{
    font-weight: 900;
  font-size: 40px;
  line-height: 60px;
  max-width: 80%;
  }
  .lead{
    max-width: 65%;
  }
  .header{
    background-image: url("../img/gREquCUXQLI.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    min-height: 100vh;
    max-width: 100vw;
    position: relative;
  }
  section h2{
    font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #0D3B66;
  }
  .card-number{
    background-color: #e7b534;
    width: fit-content;
    position: absolute;
    top: 7%;
    right: 94%;
    font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  }
 }


@media (min-width: 992px) { 
  .row h1{
    font-weight: 900;
  font-size: 50px;
  line-height: 75px;
  max-width: 90%;
  }
  .lead{
    max-width: 70%;
  }
  .lead-2{
    font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  }
  .lead-3{
    font-weight: 200;
    font-size: 24px;
    line-height: 41px;
    width: 60%;
 }
 .text-4{
  font-weight: 500;
font-size: 16px;
line-height: 23px;
}
}

@media (min-width: 1200px) { 
  .row h1{
    font-weight: 900;
  font-size: 65px;
  line-height: 97px;
  max-width: 90%;
  }
  .lead{
    max-width: 60%;
  }
 }